<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Optical/purchase</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<script src="/js/jquery-1.11.0.min.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/js/simpleCart.min.js"> </script>
<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/js/jquery.easydropdown.js"></script>
</head>
<body>
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<div class="col-md-6 top-header-left">
					<div class="drop">
						<div class="box">
							
						</div>
						<div class="box1">
							
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 top-header-left">
			
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="logo">
		<a href="/home"><h1>Optical</h1></a>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue"><li><a href="/home">Главная</a></li>
						<li class="grid"><a href="/frames">Оправы</a></li>
						<li class="grid"><a href="/lenses">Линзы</a></li>
						<li class="grid"><a href="/about">О нас</a>
						</li>
						<li class="grid"><a href="/contact">Связаться с нами</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 header-right">
				<div class="search-bar">
					<form action = "/srch" method="post">
						<input name = "name" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="">
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/home">Главная</a></li>
					<li class="active">Заказать</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<h2>Заказать</h2>
			</div>
			<div class="register-main">
				<div class="col-md-6 account-left">
					<form id = "frm" method="post">
					<input name = "name" placeholder="Имя" type="text" tabindex="1" required>
						<input name = "mail" placeholder="Почта" type="text" tabindex="3" required>
						<input name = "phone" placeholder="Телефон" type="text" tabindex="3" required>
						
						<input name = "address" placeholder="Город" type="text" tabindex="3" required>

						<p>Уникальное имя товара: <span th:text="${cl} + ${id}"/></p>
					</form>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<div class="address submit">
				<input form ="frm" type="submit" value="Отправить"></input>
						</div>
		</div>
	</div>
	<div class="information">
		<div class="container">
			<div class="infor-top">
				<div class="col-md-3 infor-left">
					<h3>Наши соц. сети</h3>
					<ul>
						<li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
						<li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
						<li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Ассортимент</h3>
					<ul>
						<li><p>Большой выбор</p></li>
						<li><p>Гарантия качество</p></li>
						<li><p>Низкие цены</p></li>
						<li><p>Бесплатная доставка</p></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Магазин</h3>
					<ul>
						<li><a href="/frames"><p>Оправы</p></a></li>
						<li><a href="/lenses"><p>Линзы</p></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Контакты</h3>
					<h4>Optical,
						<span>Мы помогаем видеть,</span>
						Проспект Вернадского, д.78.</h4>
					<h5>8 (800) 555-35-35</h5>	
					<p><a href="mailto:hydroponic234@gmail.com">hydroponic234@gmail.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					
				</div>
				<div class="col-md-6 footer-right">					
					<p>© 2022 Optical. All Rights Reserved | Design by  <a href="https://vk.com/loveme.ayanami" target="_blank">'ayanami</a> </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>
</html>