<!DOCTYPE html>
<html>
<head>
<title>Optical/About</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<script src="/js/jquery-1.11.0.min.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/js/simpleCart.min.js"> </script>
<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript" src="/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/js/jquery.easydropdown.js"></script>
</head>
<body>
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<div class="col-md-6 top-header-left">
					<div class="drop">
						<div class="box">
							
						</div>
						<div class="box1">
							
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 top-header-left">
			
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="logo">
		<a href="/home"><h1>Optical</h1></a>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue"><li><a href="/home">Главная</a></li>
						<li class="grid"><a href="/frames">Оправы</a></li>
						<li class="grid"><a href="/lenses">Линзы</a></li>
						<li class="active grid"><a href="/about">О нас</a>
						</li>
						<li class="grid"><a href="/contact">Связаться с нами</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 header-right">
				<div class="search-bar">
					<form action = "/srch" method="post">
						<input name = "name" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="">
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/home">Главная</a></li>
					<li class="active">О нас</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="pages" id="pages">
		<div class="container">
			<div class="typo-top heading">
				<h2>О НАС</h2>
			</div>
			<div class="typo-bottom">
			<div class="headdings">
				<h3 class="ghj">Компания OPTICAL</h3>
					<p>Крупная сеть салонов оптики «Optical» работает в России с 1998 года и является частью международной компании Grand Vision.<br><br>

						Первый салон был открыт в самом центре Москвы, на Никольской улице 17, стр. 1, и это место имеет особое значение: здесь находилась одна из старейших московских оптик – «Оптика №1». Именно в «Optical» на Никольской многие сотрудники начинали свою карьеру. В 2016 году состоялось большое обновление флагманского салона, который символизирует традиции компании и профессиональную приверженность делу.<br><br>
						
						Уже в 2007 году было открыто 50 салонов, включая региональные, а юбилейный сотый салон появился 31-го декабря 2015 года. Помимо этого, по всему миру работает уже более 4000 магазинов и корнеров «Solaris», специализирующихся на солнцезащитной оптике.<br><br>
						
						Мир вокруг стремительно меняется, и «Optical» следует динамике развивающегося мира оптики, чтобы всегда оставаться современной компанией, в которой работают лучшие специалисты на новейшем оборудовании.<br><br>
						
						Миллионы людей доверяют нам свое зрение, и на это есть причины:</p>
						<ul>
							<li>- «Optical» – компания, признанная на российском рынке, и мы несем полную ответственность за качество всех товаров и услуг. Мы понимаем всю важность своей работы и вкладываемся в профессиональные знания своих сотрудников, чтобы в любой момент быть уверенными: вы получите квалифицированную помощь и индивидуальный подход.</li>
							<li>- «Optical» - В любом салоне вы всегда получите профессиональную помощь при выборе, подборе, заказе и покупке очков или линз. Сертифицированные врачи-офтальмологи и оптометристы проведут консультацию, диагностику зрения и индивидуальную коррекцию близорукости, дальнозоркости и других проблем.</li>
							<li>- Подобрать очки – совсем не сложное дело! Весь процесс, начиная от проверки зрения и заканчивая покупкой очков или линз, мы сделали понятным, быстрым и удобным. После этого мы в любой момент готовы снова помочь вам и ответить на все вопросы.</li>
							<li>- В нашем ассортименте – только сертифицированные товары, отвечающие международным стандартам, среди которых представлены эксклюзивные дизайнерские бренды.</li>
						</ul><br>
						<p>Каждый салон «Optical» предоставляет полный комплекс офтальмологических услуг:</p>
						<p>	- Проверить зрение</p>
						<p>Во многих салонах Optical есть кабинет врача-офтальмолога, полностью оснащенный современным оборудованием.</p>
						<p	>- Подобрать очки и контактные линзы</p>
						<p>С нами работают сертифицированные профессиональные врачи-офтальмологи и оптометристы, которые помогут подобрать коррекцию индивидуально для вас.</p>
						<p	>- Изготовить очки</p>
						<p>В каждом салоне «Optical» их можно подобрать, выбрать и сразу же заказать. Мы консультируем вас с момента обращения до момента получения очков.</p>
						<p>	- Подобрать солнцезащитные очки</p>
						<p>А также получить подробную профессиональную консультацию и быстро оформить заказ.<br><br>

							Салоны находятся в Москве, Санкт-Петербурге и еще 8 городах России.
							
							</p>
			</div><br><br><br><br><br><br><br><br><br><br>
	<div class="information">
		<div class="container">
			<div class="infor-top">
				<div class="col-md-3 infor-left">
					<h3>Наши соц. сети</h3>
					<ul>
						<li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
						<li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
						<li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Ассортимент</h3>
					<ul>
						<li><p>Большой выбор</p></li>
						<li><p>Гарантия качество</p></li>
						<li><p>Низкие цены</p></li>
						<li><p>Бесплатная доставка</p></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Магазин</h3>
					<ul>
						<li><a href="/frames"><p>Оправы</p></a></li>
						<li><a href="/lenses"><p>Линзы</p></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Контакты</h3>
					<h4>Optical,
						<span>Мы помогаем видеть,</span>
						Проспект Вернадского, д.78.</h4>
					<h5>8 (800) 555-35-35</h5>	
					<p><a href="mailto:hydroponic234@gmail.com">hydroponic234@gmail.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					
				</div>
				<div class="col-md-6 footer-right">					
					<p>© 2022 Optical. All Rights Reserved | Design by  <a href="https://vk.com/loveme.ayanami" target="_blank">'ayanami</a> </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</body>
</html>